# The .npmrc file is npm's configuration file that 
# controls how npm behaves. Think of it as "settings" for npm.

# This file is used to optimize npm install for production
# by disabling optional, audit, and fund features
# and using a local cache to speed up installation

# Disable optional features
# Optimize npm install for production

production=true
optional=false
audit=false
fund=false
prefer-offline=true
cache=.npm-cache
maxsockets=1
progress=false 