<table class="sample-table">
  <tr>
    <td class="sample-photo-cell" rowspan="9">
      <img class="sample-photo" src="[PHOTO_URL]" alt="Sample Photo" />
    </td>
    <td class="sample-label">Sample reference</td>
    <td class="sample-value">[SAMPLE_REFERENCE]</td>
  </tr>
  <tr>
    <td class="sample-label" colspan="2">Location and description</td>
  </tr>
  <tr>
    <td class="sample-location-content" colspan="2">[LOCATION_DESCRIPTION]</td>
  </tr>
  <tr>
    <td class="sample-label">Material type</td>
    <td class="sample-value">[MATERIAL_TYPE]</td>
  </tr>
  <tr>
    <td class="sample-label" colspan="2">Asbestos Content</td>
  </tr>
  <tr>
    <td class="sample-value" colspan="2">[ASBESTOS_CONTENT]</td>
  </tr>
  <tr>
    <td class="sample-label">Asbestos type</td>
    <td class="sample-value">[ASBESTOS_TYPE]</td>
  </tr>
  <tr>
    <td class="sample-label">Condition</td>
    <td class="sample-value">[CONDITION]</td>
  </tr>
  <tr>
    <td class="sample-label">Risk</td>
    <td class="sample-value">[RISK]</td>
  </tr>
  <tr class="comments-row">
    <td colspan="3" style="width: 100%">
      Recommendation Actions/Comments:<br />[COMMENTS]
    </td>
  </tr>
</table>
