<table class="sample-table">
  <tr>
    <td class="sample-photo-cell" rowspan="7">
      <img class="sample-photo" src="[PHOTO_URL]" alt="Sample Photo" />
    </td>
    <td class="sample-label">Sample reference</td>
    <td class="sample-value">[SAMPLE_REFERENCE]</td>
  </tr>
  <tr>
    <td class="sample-label">Location and description</td>
    <td class="sample-value">[LOCATION_DESCRIPTION]</td>
  </tr>
  <tr>
    <td class="sample-label">Material type</td>
    <td class="sample-value">[MATERIAL_TYPE]</td>
  </tr>
  <tr>
    <td class="sample-label">Asbestos content</td>
    <td class="sample-value">[ASBESTOS_CONTENT]</td>
  </tr>
  <tr>
    <td class="sample-label">Asbestos type</td>
    <td class="sample-value">[ASBESTOS_TYPE]</td>
  </tr>
  <tr>
    <td class="sample-label">Condition</td>
    <td class="sample-value">[CONDITION]</td>
  </tr>
  <tr>
    <td class="sample-label">Risk</td>
    <td class="sample-value">[RISK]</td>
  </tr>
  <tr class="comments-row">
    <td colspan="3">Recommendation Actions/Comments:<br />[COMMENTS]</td>
  </tr>
</table>
